footer .part-one {
  background-color: #088395;
}

footer li.active {
  color: var(--button-color);
}

footer li a{
  color: #eee;
  text-decoration: none;
}

footer li:hover, footer li a:hover {
  color: var(--button-color);
  cursor: pointer;
}

.footer-icon {
  color: var(--second-color);
  margin-left: 5px;
}

.info-social i:hover {
  color: var(--button-color);
  cursor: pointer;
}

.subscribe form {
  position: relative;
}

.subscribe button {
  position: absolute;
  top: 28px;
  right: 0;
  border-radius: 3px;
}

.copyRight {
  background-color: var(--green-color);
  padding: 10px;
}