
  <footer dir="rtl" class="text-light">
    <div class="part-one py-4">
      <div class="container">  
          <div class="row row-cols-2 row-cols-md-3 align-items-center gab-3 justify-content-between">
            <div class="col-md-2 col-6">
              <div class="go-to">
                <div class="logo d-flex align-items-center">
                  <p class="ms-2 h6">DEPI-HOSPITAL</p>
                  <img src="assets/LOGO.png" width="70px" height="70px" alt="logo">
                </div>
                <p style="margin-right: 40px;">إذهب إلى</p>
                <ul>
                  <li>الرئيسية</li>
                  <li class="active">أطبائنا</li>
                  <li>خدماتنا</li>
                  <li>مقالاتنا</li>
                  <li>شركائنا</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-6">
              <div class="info">
                <p>تواصل معنا : </p>
                <ul class="px-0">
                  <li><a href="#"><i class="footer-icon fa-solid fa-map-location-dot"></i>
                      الزمالك - القاهرة - مصر </a></li>
                  <li class="my-2"><a href="mailto: hospital@depihospital.com" target="_blank"><i
                        class="footer-icon fa-regular fa-envelope"></i> hospital&#64;depihospital.com</a></li>
  
                  <li><a href="tel: +19999"><i class="footer-icon fa-solid fa-phone"></i> 19999 </a></li>
                </ul>
  
                <div class="info-social text-center mt-4">
                  <i class="fa-brands fa-facebook display-6"></i>
                  <i class="fa-brands fa-youtube  display-6 mx-3"></i>
                  <i class="fa-brands fa-instagram  display-6"></i>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 col-8 text-center">
              <div class="subscribe">
                <form>
                  <label for="subscribe" class="form-label">اشترك معنا ليصلك كل الأخبار</label>
                  <input class="form-control" type="email" name="email" id="subscribe" placeholder="example@gmail.com" dir="ltr">
                  <button type="submit" class="btn btn-success mt-1">اشترك</button>
                </form>
  
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="copyRight p-3" dir="ltr">
      <p class="text-center h-50 mb-0">&copy;copyright 2024 | All Rights Reserved By <span class="text-decoration-underline h5">DEPI-STUDENT</span></p>
    </div>
  </footer>