<div class="nav"> الرئيسية - الاقسام الطبية</div>
<div class="subnav"> الاقسام الطبية</div>
<div class="search">
    <div>
        <label>البحث من الاقسام</label>
    </div>
    <div>
        <input type="text" placeholder="اسم القسم المراد البحث عنه">
        <button>بحث</button>
    </div>
    
</div>
<div class="cards">
    <div class="card">
        <img src="../../assets/lab.png" alt="lab" width="300px" height="auto">
        <img src="../../assets/lab2.jpg" alt="lab2" width="300px" height="auto">
    </div>

</div>
