<app-header></app-header>

<div class="nav py-3"> الرئيسية - الاقسام الطبية</div>

<div class="subnav"> الاقسام الطبية</div>

<div class="search">
    <div>
        <label>البحث من الاقسام</label>
    </div>
    <div>
        <input type="text" placeholder="اسم القسم المراد البحث عنه">
        <button>بحث</button>
    </div>
</div>

<div class="cards">
    <div class="container">
        <div class="row">
            <div class="col-md-3" *ngFor="let x of departments">
                <div class="outsidecard">
                    <a href="{{x.link}}">
                        <div class="card">
                            <img [src]="x.img" class="card-img-top" alt="{{x.alt}}">
                            <div class="card-body">
                                <h5 class="card-title">{{x.arabicname}}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
