<!-- search -->
<div class="search container">
    <div>
        <label>البحث من الاقسام</label>
    </div>
    <div class="d-flex align-items-center">
        <input type="text" placeholder="اسم القسم المراد البحث عنه">
        <button class="btn btn-success btn-sm">بحث</button>
    </div>
</div>

<!-- cards -->
<div class="cards">
    <div class="container">
        <div class="row">
            <div class="col-md-3" *ngFor="let x of departments">
                <div class="outsidecard">
                    <a href="{{x.link}}">
                        <div class="card">
                            <img [src]="x.img" class="card-img-top" alt="{{x.alt}}">
                            <div class="card-body">
                                <h5 class="card-title">{{x.arabicname}}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>