<section class="clinics">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between py-3 mb-4">
      <a href="/allclinics" class="link-offset-2 link-success link-underline-opacity-25 link-underline-opacity-100-hover">عرض الكل</a>
      <h3>العيادات</h3>
    </div>
    <ul class="page d-flex align-items-center justify-content-between my-4 flex-column flex-md-row">
      <li *ngFor="let clinic of clinics | paginate: { id:'clinic', itemsPerPage: 3, currentPage: p, totalItems: 18}" class="mb-3">
        <app-clinic  [clinic]="clinic.name" [img]="clinic.picture"></app-clinic>
      </li>
    </ul>
    <pagination-controls (pageChange)="onPageChange($event)" class="d-flex align-items-center justify-content-center" id="clinic"></pagination-controls>
  </div>
</section>