<section class="doctors my-5 py-3">
  <div class="container">
    <div class="header d-flex align-items-center justify-content-between my-4">
      <a href="#" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">عرض الكل</a>
      <h3>أطباء متخصصون</h3>
    </div>

    <ul class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3 p-5">
      <li *ngFor="let item of doctorsInDB | paginate: {itemsPerPage: 4, currentPage: p, totalItems: 20}" class="col">
        <div class="card text-center">
          <img [src]="'assets/doctors/doctor-1.jpg'" alt="{{item.name}}" class="card-img-top img-fluid">
          <div class="card-body py-0 px-1">
            <h6 class="card-title mb-0">د. {{ item.name}}</h6>
            <div class="card-text w-100">
              <span>{{ item.education }}</span>
              <div class="social mt-4">
                <ul class="d-flex align-items-center justify-content-evenly">
                  <li class="list-inline-item me-2"><a href="#"><fa-icon [icon]="faFacebook" class="fs-2"></fa-icon></a> </li>
                  <li class="list-inline-item me-2"><a href="#"><fa-icon [icon]="faYoutube" class="fs-2"></fa-icon></a> </li>
                  <li class="list-inline-item me-2"><a href="#"><fa-icon [icon]="faTelegram" class="fs-2"></fa-icon></a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <pagination-controls (pageChange)="pageChanged($event)" class="d-flex align-items-center justify-content-center"></pagination-controls>
  </div>
</section>
