.links {
  background-color: #eee;
}

fa-icon {
  color: var(--background-color);
}

.links .list-inline-item:nth-child(3){
  padding-right: 15px;
  border-right: 1px solid var(--second-color);
}

.links .list-inline-item:last-child a{
  color: var(--main-color);
}
.links .list-inline-item:last-child a:hover{
  color: var(--background-color);
}

.links .auth button {
  background-color: var(--second-color);
  color: white;
  margin-right: 7px;
}

headLogo a{
  color: var(--background-color);
}

/*Make logo*/
#logo img {
  width: 100px;
  height: 100px;
}

.logo h3 {
  color: #088395;
  width: fit-content;
}

.user-icon {
  width: 30px;
  height: 30px;
  border: 2px solid #088395;
  text-align: center;
  cursor: pointer;
}

.userList {
  width: 220px;
}

.userList li {
  position: relative;
  cursor: pointer;
  z-index: 22;
}

.userList li::after {
  content: '';
  width: 0;
  height: 100%;
  background-color: var(--background-color);
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s;
  z-index: -1;
}

.userList li:hover{
  color: white;
}

.userList li:hover::after{
  width: 100%;
  color: white
}
