<div class="container">

    <div class="row" style="direction:rtl;">
        <div class="compo ,col-8>">

            <div class=" col mt-3 mb-3">
                <h2>مقالات طبية</h2>
            </div>
        </div>
        <div class="row filter mt-3 mb-4">

            <div class="col-2">
                <p> ترتيب القنوات حسب </p>
            </div>
            <div class="col-2">
                <select class="form-select" id="dropdown2">
                    <option selected="">تاريخ المقال </option>
                    <option value="1">الاحدث</option>
                    <option value="1">الاقدم </option>

                </select>
            </div>
            <div class="col-2">
                <select class="form-select" id="dropdown2">
                    <option selected="">التصنيفات </option>
                    <option value="1">النفسية</option>
                    <option value="1">الجلدية </option>
                    <option value="1">الاعشاب </option>
                    <option value="1">الاورام </option>

                </select>
            </div>

        </div>
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 sidebar">
                <h4>أقسام طبية</h4>
                <ul>
                    <li><a href="#">قسم التشريح وعلم الأجنة</a></li>
                    <li><a href="#">قسم الباثولوجيا</a></li>
                    <li><a href="#">قسم الفسيولوجيا</a></li>
                    <li><a href="#">قسم الكيمياء الحيوية</a></li>
                    <li><a href="#">قسم الباثولوجيا</a></li>
                    <li><a href="#">قسم الفارماكولوجيا</a></li>
                    <li><a href="#">قسم السمعيات الطبية</a></li>
                    <li><a href="#">قسم طب الأسنان</a></li>
                </ul>

                <h4>مواضيع شائعة</h4>
                <ul>
                    <li><a href="#">ارتفاع ضغط الدم</a></li>
                    <li><a href="#">الأمراض المزمنة</a></li>
                    <li><a href="#">أمراض العيون</a></li>
                    <li><a href="#">أمراض القلب</a></li>
                    <li><a href="#">أمراض الأسنان</a></li>
                    <li><a href="#">حساسية</a></li>
                    <li><a href="#">أعشاب طبية</a></li>
                </ul>

                <h4>أطباء متميزون</h4>
                <ul>
                    <li><a href="#">د/ خالد زكي</a></li>
                    <li><a href="#">د/ أحمد مجدي</a></li>
                    <li><a href="#">د/ جمال طارق</a></li>
                    <li><a href="#">د/ علا محمد</a></li>
                    <li><a href="#">د/ خيرية مندور</a></li>
                    <li><a href="#">د/ إسعاد سعيد</a></li>
                    <li><a href="#">د/ جميلة فاروق</a></li>
                </ul>

                <h4>سياسات</h4>
                <ul>
                    <li><a href="#">سياسة نشر المقالات</a></li>
                    <li><a href="#">سياسة الأسئلة والأجوبة</a></li>
                    <li><a href="#">سياسة الخصوصية</a></li>
                    <li><a href="#">سياسة وحق المريض</a></li>
                </ul>

                <div class="text-center">
                    <button class="btn-custom">احجز الآن</button>
                </div>
            </div>


            <!-- Main content -->


            <div class="col-md-9">
                <div class="row">
                    <!-- Article Header -->
                    <div class="col-12 mb-2">
                        <div class=" article-grid">
                            <div>
                                <h3>طرق طبيعية وأعشاب لعلاج الثعلبة</h3>
                                <p>بقلم: د/ حمدى عبد الغنى</p>
                                <p>تاريخ النشر: 7/10/2024</p>
                            </div>



                            <!-- Article Image -->
                            <div class="toto">
                                <img src="assets/article/hair problem.jpg.webp" alt="hair problem" class="img-fluid">
                                
                            </div>

                            <br>
                            <h4 class="mt-3">علاج الثعلبة بطرق طبيعية</h4>
إنّ مرض الثعلبة هو أحد أمراض المناعة الذاتية والذي يتسبّب بتساقط الشعر لدى الفرد. وعلى الرغم من عدم وجود علاج نهائي لهذا المرض، إلّا أنّ هناك العديد من العلاجات الدوائية التي يُمكن أن تساعد في التحكم بأعراض المرض ومنع تساقط الشعر لدى الفرد.
كما من المُمكن أن تُساعد بعض الطرق الطبيعية في علاج الثعلبة في المنزل من خلال تحفيز نموّ الشعر في المنطقة المُصابة والتقليل من تساقطه فيما بعد. ويُمكن أن تتضمّن هذه الطرق الطبيعية ما يلي:

<h6>التدليك</h6>
يُعتبر تدليك فروة الرأس من أولى الطرق التي يُمكن أن تساعد على تحفيز نموّ الشعر لدى الأفراد المُصابين بالثعلبة، حيث يساهم التدليك في تحفيز تدّفق الدم إلى فروة الرأس، ممّا يُمكن أن يساعد على تشجيع نموّ الشعر. 

كما من المُمكن أن يتم تعزيز فعالية التدليك لتحفيز نموّ الشعر من خلال استخدام بعض الزيوت الأساسية التي لها فوائد محتملة في تعزيز نموّ وكثافة الشعر، ومن أشهر هذه الزيوت: 
<ul>


</ul>
<li>زيت خشب الأرز.</li>
<li>زيت اللافندر.</li>
<li>زيت إكليل الجبل.</li>
<li>زيت الزعتر.</li>
<li>زيت شجرة الشاي.</li>
من المهم تخفيف هذه الزيوت الأساسية أولًا باستخدام أحد الزيوت الناقلة، مثل: زيت الجوجوبا أو زيت جوز الهند، قبل استخدامها على فروة الرأس، كما يُنصح دائمًا باختبارها أولًا على مساحة صغيرة من الجلد لمدة 24 ساعة للتأكد من عدم تسبّبها برد فعل تحسسي لدى الفرد.
يُمكن للأفراد استخدام أطراف أصابعهم لتدليك فروة الرأس في دوائر لطيفة، كما تتوّفر أيضًا أجهزة لتدليك فروة الرأس يُمكن استخدامها لهذا الغرض.

                        </div>
                    </div>

                    <!-- Articles Grid -->



                </div>


            </div>
        </div>
    </div>
</div>