<!-- account section -->
<div class="accountsection" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="labele">بياناتـــــى</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="eachlabel" for="fullname">الاسم كامل</label>
            </div>
            <div class="col-md-8">
                <input class="inputuserprofile" type="text" [value]="userData.username" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="eachlabel" for="fullname">الاميل</label>
            </div>
            <div class="col-md-8">
                <input class="inputuserprofile" type="text"  [value]="userData.email" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="eachlabel" for="fullname">تاريخ الميلاد</label>
            </div>
            <div class="col-md-8">
                <input class="inputuserprofile" type="text" [value]="userData.birthday" readonly>
            </div>
        </div>

    </div>
</div>

<!-- password section -->
<div class="passwordsection">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="labele">تعديل الرقم السرى</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="eachlabel" for="fullname">الرقم السرى الحالى</label>
            </div>
            <div class="col-md-8">
                <input class="inputuserprofile" type="password">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="eachlabel" for="fullname">الرقم السرى الجديد</label>
            </div>
            <div class="col-md-8">
                <input class="inputuserprofile" type="password">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="eachlabel" for="fullname">تاكيد الرقم السرى الجديد</label>
            </div>
            <div class="col-md-8">
                <input class="inputuserprofile" type="password">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <button class="updatebutton"> تحديث </button>
                <button class="resetbutton"> الغاء </button>
            </div>
        </div>

    </div>
</div>

<!-- appointment section -->
<div class="appointmentsection">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="labele">حجزاتـــــى</div>
            </div>
        </div>
        <div class="eachappointment" *ngFor="let appointment of bookings">
            <div class="row">
                <div class="col-md-4" >
                    <label class="eachlabel" for="fullname">الاسم كامل</label>
                </div>
                <div class="col-md-8">
                    <input class="inputuserprofile" type="text" [value]="appointment.name" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="eachlabel" for="fullname">الاميل</label>
                </div>
                <div class="col-md-8">
                    <input class="inputuserprofile" type="text" [value]="appointment.email" readonly>
                </div>
            </div>