<!-- account section -->
<div class="accountsection">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="labele">بياناتـــــى</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="eachlabel" for="fullname">الاسم كامل</label>
            </div>
            <div class="col-md-8">
                <input class="inputuserprofile" type="text" [value]="userData.username" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="eachlabel" for="fullname">الاميل</label>
            </div>
            <div class="col-md-8">
                <input class="inputuserprofile" type="text" [value]="userData.email" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="eachlabel" for="fullname">تاريخ الميلاد</label>
            </div>
            <div class="col-md-8">
                <input class="inputuserprofile" type="text" [value]="userData.birthday | date: 'dd.MM.yy'" readonly>
            </div>
        </div>

    </div>
</div>

<!-- password section -->
<div class="passwordsection">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="labele">تعديل الرقم السرى</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="eachlabel" for="fullname">الرقم السرى الحالى</label>
            </div>
            <div class="col-md-8">
                <input class="inputuserprofile" type="password">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="eachlabel" for="fullname">الرقم السرى الجديد</label>
            </div>
            <div class="col-md-8">
                <input class="inputuserprofile" type="password">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="eachlabel" for="fullname">تاكيد الرقم السرى الجديد</label>
            </div>
            <div class="col-md-8">
                <input class="inputuserprofile" type="password">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <button class="updatebutton"> تحديث </button>
                <button class="resetbutton"> الغاء </button>
            </div>
        </div>

    </div>
</div>

<!-- appointment section -->
<div class="appointmentsection">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="labele">حجزاتـــــى</div>
            </div>
        </div>
        <div *ngIf="bookings && bookings.length > 0">
            <div class="eachappointment" *ngFor="let appointment of bookings">
                <div class="row">
                    <div class="col-md-4">
                        <label class="eachlabel" for="fullname"> إسم المريض </label>
                    </div>
                    <div class="col-md-8">
                        <input class="inputuserprofile" type="text" [value]="appointment.fullName" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="eachlabel" for="fullname">الاميل</label>
                    </div>
                    <div class="col-md-8">
                        <input class="inputuserprofile" type="text" [value]="appointment.email" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="eachlabel" for="fullname">العيادة</label>
                    </div>
                    <div class="col-md-8">
                        <input class="inputuserprofile" type="text" [value]="appointment.clinic" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="eachlabel" for="fullname">دكتور</label>
                    </div>
                    <div class="col-md-8">
                        <input class="inputuserprofile" type="text" [value]="appointment.doctor" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="eachlabel" for="fullname">الحالة </label>
                    </div>
                    <div class="col-md-8">
                        <input class="inputuserprofile" type="text" value="حجز" readonly>
                    </div>
                </div>
                <div class="close d-flex justify-content-end">
                    <button type="button" class="btn btn-danger m-3">الغاء الحجز</button>
                </div>
            </div>
        </div>
    </div>
</div>