header {
  background-image: linear-gradient(90deg, #0093A1, #00363B);
  height: 150px;
  position: relative;
  margin-bottom: 200px;
}

header .user {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

header .image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgb(162, 238, 213);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

header .image img {
  color: #333;
  font-size: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
}

nav {
  background-color: rgb(0, 147, 161);;
}

nav ul li:hover,
nav ul li a.active {
  color: aliceblue;
  background-color: dodgerblue;
}

.card {
  background-image: linear-gradient(90deg, #0093A1, #00363B);
  color: white;
  transition: 0.6s;
}

.card:hover {
  transform: scale(1.05);
}

.accountsection,
.passwordsection,
.appointmentsection {
  background-color: rgb(0, 147, 161);
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  direction: rtl;
  text-align: right;
}
.labele {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-top: 10px;
  padding: 5px;
}
.eachlabel {
  color: white;
  font-size: 18px;
  margin: 5px;
  margin-left: 40%;
  padding: 5px;
}
.inputuserprofile {
  width: 70%;
  margin: 5px;
  margin-left: 10%;
  padding: 5px;
  color: #02000c;
}
.updatebutton,
.resetbutton {
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
.resetbutton {
  background-color: rgb(162, 238, 213);
}
.updatebutton {
  background-color: rgb(58, 140, 207);
  color: white;
  margin-left: 10%;
}
.eachappointment {
  border: 5px solid white;
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
}
.eachappointment:hover {
  transform: scale(1.02);
  background-color: rgba(245, 41, 5, 0.2);
  border-color: rgb(101, 167, 221);
}
