body {
}

.accountsection, .passwordsection, .appointmentsection{
  background-color: rgb(0, 147, 161);
margin: 10px;
  padding: 20px;
  border-radius: 5px;
}
.labele {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-top: 10px;
  padding: 5px;
}
.eachlabel {
  color: white;
  font-size: 18px;
margin: 5px ;
margin-left: 40%;
padding: 5px;
}
.inputuserprofile {
  background-color: rgb(162, 238, 213);
  width: 500px;
  margin: 5px ;
  margin-left: 10%;
  padding: 5px;
  color: #02000c;
}
.updatebutton, .resetbutton{
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}
.resetbutton{
    background-color: rgb(162, 238, 213);
}
.updatebutton{
    background-color: rgb(58, 140, 207);
    color: white;
    margin-left: 10%;
}
.eachappointment{
    border: 5px solid white;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
}
