.image img {
  max-width: 400px;
  max-height: 350px;
  margin-top: 20px;
}

.services {
  background-image: linear-gradient(90deg, #0093A1, #00363B);
  color: white;
}

.services ul li {
  list-style-type: circle !important;
}

.doc {
  background-color: var(--trans-color);
  width: 250px;
  color: white;
  margin: 10px 0 20px 30px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  overflow: hidden;
}

.doc img {
  max-width: 250px;
  max-height: 360px;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
}

.card-body {
  transition: transform 0.5s ease-in-out;
}

.doc:hover img {
  transform: translateY(-40px);
}

.doc:hover .card-body {
  transform: translateY(-40px);
}

.clinic-time {
  background-image: linear-gradient(90deg, #0093A1, #00363B);
  color: white;
}

.btn {
  background-color: var(--trans-color);
  color: white;
}