<app-header></app-header>

<app-slider></app-slider>

<section class="who-us">
  <div class="container">
    <div class="d-flex flex-column-reverse flex-lg-row align-items-center  justify-content-xl-evenly">
      <div class="image">
        <img class="" src="assets/slider/slider3.jpg" alt="">
      </div>
      <div class="text me-0" dir="rtl">
        <span class="h5 d-block mb-5">مرحبًا بكم في مستشفى DEPI</span>
        <p class="fw-semi-bold">مستشفـــــــــى DEPI هـــو أكبــــــر صـــرح طبــــي معتمـــد فــي القاهرة
          .المستشفــــــى حاصــــل علــى شهــادة الاعتماد المصري GAHAR من الهيئة العامة للاعتماد والرقابة الصحية في
          مصر وحاصل على شهادة الأيزو 22000 للمرة الثالثة على التوالي والتي تهدف لتقديم غذاء آمن للمرضى والزائرين.يتوفر
          بمستشفــــى DEPI كافة التخصصات الطبية للحصول على أفضل رعاية صحية باستخدام أحدث الأجهزة التشخيصية والعلاجية
          بطاقة استيعابية تصــل إلى 300 سرير.يوجد بالمستشفى 8 غــرف عمليات مما يسمح بإجراء الكثيـــر من العمليات في آن
          واحد، تم تصميم غرف العمليات بنظام الكبسولة ويُعَد هذا النظام أعلى نظام عالمي لمكافحة العدوى، بالإضافة إلى
          تجهيز قسم العمليات بأحدث أجهزة المناظير الجراحية والميكروسكوبية في كافة التخصصات الطبية مثل الجراحة العامة،
          جراحة المخ والأعصاب، جراحات الأوعية الدموية، جراحة العيون، جراحات الأنف والأذن والحنجرة، جراحات النساء
          والتوليد، جراحة الوجه والفكين وجراحات العظام.</p>
      </div>
    </div>
    <!-- Our Numbers -->
    <div class="numbers my-5 py-5">
      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-2">
        <div class="col">
          <div class="content text-center p-2 w-100 rounded-3">
            <p class="h5">416</p>
            <fa-icon [icon]="faUserNurse" class="fa-2x"></fa-icon>
            <p>طاقم طبــــي</p>
          </div>
        </div>
        <div class="col">
          <div class="content text-center p-2 border w-100 rounded-3">
            <p class="h5">32000</p>
            <fa-icon [icon]="faUserMd" class="fa-2x"></fa-icon>
            <p>عمليه جراحية</p>
          </div>
        </div>
        <div class="col">
          <div class="content text-center p-2 borde w-100 rounded-3">
            <p class="h5">116</p>
            <fa-icon [icon]="faStethoscope" class="fa-2x"></fa-icon>
            <p>استشاري</p>
          </div>
        </div>
        <div class="col">
          <div class="content text-center p-2 border w-100 rounded-3">
            <p class="h5">260</p>
            <fa-icon [icon]="faBed" class="fa-2x"></fa-icon>
            <p>سرير</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>