<!-- Body -->
<div class="container-fluid">
  <div class="row d-flex">
    <!-- first div my doctor hyperlink path  -->

    <div class="col-12 mt-1">
      <div class="block2 p-3 m-auto d-flex justify-content-start">
        <span><a href="#">الرئيسية</a></span>
        <span> > </span>
        <span><a href="#" class="Bold">أطبائنا</a></span>
      </div>
    </div>

    <!-- Second div my doctor with image Background  -->

    <div class="col-12 mt-1">
      <div class="block3 p-3 d-flex justify-content-end">
        <p class="container d-flex align-items-center">أطبائنا</p>
      </div>
    </div>

    <!-- Third div search doctor  -->

    <div class="col-12 mt-4">
      <div class="block4 p-3 d-flex justify-content-end">
        <p class="container d-flex align-items-center">أبحث عن طبيبك</p>
      </div>
    </div>

    <!-- forth div search doctor  -->

    <div class="col-12 col-md-8 mx-auto mt-2">
      <div class="row input-container">
        <div class="col-12 col-md-4 mb-2">
          <select class="form-select text-center" id="dropdown2">
            <option selected>أختر الفرع</option>
            <option value="1">المهندسين</option>
            <option value="1">مصر الجديدة</option>
            <option value="1">مدينة نصر</option>
          </select>
        </div>
        <div class="col-12 col-md-4 mb-2">
          <select class="form-select text-center" id="dropdown2">
            <option selected>أختر التخصص</option>
            <option value="1">باطنة</option>
            <option value="1">أنف وأذن وحنجرة</option>
            <option value="1">عظام</option>
          </select>
        </div>
        <div class="col-12 col-md-4">
          <div class="input-group">
            <button type="button" class="btn btn-primary" id="btn1">
              <a href="#">بحث</a>
            </button>
            <input type="text" class="form-control text-center" id="input1" placeholder="أسم الطبيب" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-8 mx-auto">
      <div class="block6 p-3 text-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col text-end">
              <div class="border1">
                <p class="p1">مستشفى العربى</p>
                <p class="p2">الاحد 9ص-2م |الثلاثاء 9ص-2م</p>
              </div>
              <div class="border1">
                <p class="p1">مستشفى العربى</p>
                <p class="p2">الاحد 9ص-2م |الثلاثاء 9ص-2م</p>
              </div>
            </div>
            <div class="col text-end">
              <p class="name1">د/محمد عبد الفتاح قاسم</p>
              <p class="tit1">استشارى الجهاز الهضمى والكبد والمناظير</p>
              <p class="jop1">استاذ الباطنة جامعة عين شمس</p>
              <p class="jop1">دكتوراة الباطنة العامة - جامعة عين شمس</p>
              <p class="jop1">استاذ بكلية الطب - جامعة عين شمس</p>
            </div>
            <div class="col image-container">
              <img src="../../../../public/assets/doctors/doctor-1.jpg" alt="Image doctor" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-8 mx-auto">
      <div class="block6 p-3 text-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col text-end">
              <div class="border1">
                <p class="p1">مستشفى العربى</p>
                <p class="p2">الاحد 9ص-2م |الثلاثاء 9ص-2م</p>
              </div>
              <div class="border1">
                <p class="p1">مستشفى العربى</p>
                <p class="p2">الاحد 9ص-2م |الثلاثاء 9ص-2م</p>
              </div>
            </div>
            <div class="col text-end">
              <p class="name1">د/محمد عبد الفتاح قاسم</p>
              <p class="tit1">استشارى الجهاز الهضمى والكبد والمناظير</p>
              <p class="jop1">استاذ الباطنة جامعة عين شمس</p>
              <p class="jop1">دكتوراة الباطنة العامة - جامعة عين شمس</p>
              <p class="jop1">استاذ بكلية الطب - جامعة عين شمس</p>
            </div>
            <div class="col image-container">
              <img src="../../../../public/assets/doctors/doctor-2.jpg" alt="Image doctor" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-8 mx-auto">
      <div class="block6 p-3 text-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col text-end">
              <div class="border1">
                <p class="p1">مستشفى العربى</p>
                <p class="p2">الاحد 9ص-2م |الثلاثاء 9ص-2م</p>
              </div>
            </div>
            <div class="col text-end">
              <p class="name1">د/محمد عبد الفتاح قاسم</p>
              <p class="tit1">استشارى الجهاز الهضمى والكبد والمناظير</p>
              <p class="jop1">استاذ الباطنة جامعة عين شمس</p>
              <p class="jop1">دكتوراة الباطنة العامة - جامعة عين شمس</p>
              <p class="jop1">استاذ بكلية الطب - جامعة عين شمس</p>
            </div>
            <div class="col image-container">
              <img src="../../../../public/assets/doctors/doctor-3.jpg" alt="Image doctor" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-8 mx-auto">
      <div class="block6 p-3 text-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col text-end">
              <div class="border1">
                <p class="p1">مستشفى العربى</p>
                <p class="p2">الاحد 9ص-2م |الثلاثاء 9ص-2م</p>
              </div>
              <div class="border1">
                <p class="p1">مستشفى العربى</p>
                <p class="p2">الاحد 9ص-2م |الثلاثاء 9ص-2م</p>
              </div>
            </div>
            <div class="col text-end">
              <p class="name1">د/محمد عبد الفتاح قاسم</p>
              <p class="tit1">استشارى الجهاز الهضمى والكبد والمناظير</p>
              <p class="jop1">استاذ الباطنة جامعة عين شمس</p>
              <p class="jop1">دكتوراة الباطنة العامة - جامعة عين شمس</p>
              <p class="jop1">استاذ بكلية الطب - جامعة عين شمس</p>
            </div>
            <div class="col image-container">
              <img src="../../../../public/assets/doctors/doctor-4.jpg" alt="Image doctor" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="block7 p-3 text-center">
        <div class="pagination-links d-flex flex-row-reverse justify-content-center">
          <a href="#" class="link-item">السابق</a>
          <a href="#" class="link-item">1</a>
          <a href="#" class="link-item">2</a>
          <a href="#" class="link-item">3</a>
          <a href="#" class="link-item">4</a>
          <a href="#" class="link-item">5</a>
          <a href="#" class="link-item"> .... </a>
          <a href="#" class="link-item">30</a>
          <a href="#" class="link-item">التالى</a>
        </div>
      </div>
    </div>
  </div>
</div>