<header class="my-5">
  <h2 class="text-center">أراء المرضى</h2>
</header>

<div class="container">
  <div class="carousel carousel-dark slid" id="carouselExampleIndicators">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="testimonial w-50 m-auto text-light p-5 rounded-4" dir="rtl">
          <p class="message h5 mb-5">لقد شعرت برعاية ممتازة من جميع أفراد الطاقم الطبي, فهم مهنيون و لطيفون للغاية</p>
          <div class="d-flex">
            <img class="img-fluid ms-3" src="assets/profile.png" alt="profile image">
            <p class="fw-bolder mt-3">سيد رجب</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial w-50 m-auto text-light p-5 rounded-4" dir="rtl">
          <p class="message h5 mb-5">لقد كنت محظوظًا بتلقي رعاية رائعة من الفريق الطبي، حيث كانوا دائمًا متعاونين وذوي خبرة، مما جعلني أشعر بالراحة والاطمئنان.</p>
          <div class="d-flex">
            <img class="img-fluid ms-3" src="assets/profile.png" alt="profile image">
            <p class="fw-bolder mt-3">جمال حمزة</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial w-50 m-auto text-light p-5 rounded-4" dir="rtl">
          <p class="message h5 mb-5">كانت تجربتي مع الطاقم الطبي رائعة للغاية، حيث أظهر الجميع اهتمامًا كبيرًا بصحتي، وقدموا لي الدعم اللازم بكل احترافية وود</p>
          <div class="d-flex">
            <img class="img-fluid ms-3" src="assets/profile.png" alt="profile image">
            <p class="fw-bolder mt-3">عباس حمزة</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial w-50 m-auto text-light p-5 rounded-4" dir="rtl">
          <p class="message h5 mb-5">أشعر بالامتنان الكبير للمعاملة الممتازة التي تلقيتها من الفريق الطبي، فقد كانوا لطيفين للغاية ويعملون بجد لضمان راحتي وسلامتي.</p>
          <div class="d-flex">
            <img class="img-fluid ms-3" src="assets/profile.png" alt="profile image">
            <p class="fw-bolder mt-3">عباس حمزة</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

    <div class="carousel-indicators mt-5">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
  </div>
</div>
