<app-header></app-header>
<div class="container">

    <div class="row" style="direction:rtl;">
        <div class="compo ,col-8>">

            <div class=" col mt-3 mb-3">
                <h2>مقالات طبية</h2>
            </div>
        </div>
        <div class="row filter mt-3 mb-4">

            <div class="col-2">
                <p> ترتيب القنوات حسب </p>
            </div>
            <div class="col-2">
                <select class="form-select" id="dropdown2">
                    <option selected="">تاريخ المقال </option>
                    <option value="1">الاحدث</option>
                    <option value="1">الاقدم </option>

                </select>
            </div>
            <div class="col-2">
                <select class="form-select" id="dropdown2">
                    <option selected="">التصنيفات </option>
                    <option value="1">النفسية</option>
                    <option value="1">الجلدية </option>
                    <option value="1">الاعشاب </option>
                    <option value="1">الاورام </option>

                </select>
            </div>

        </div>
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 sidebar">
                <h4>أقسام طبية</h4>
                <ul>
                    <li><a href="#">قسم التشريح وعلم الأجنة</a></li>
                    <li><a href="#">قسم الباثولوجيا</a></li>
                    <li><a href="#">قسم الفسيولوجيا</a></li>
                    <li><a href="#">قسم الكيمياء الحيوية</a></li>
                    <li><a href="#">قسم الباثولوجيا</a></li>
                    <li><a href="#">قسم الفارماكولوجيا</a></li>
                    <li><a href="#">قسم السمعيات الطبية</a></li>
                    <li><a href="#">قسم طب الأسنان</a></li>
                </ul>

                <h4>مواضيع شائعة</h4>
                <ul>
                    <li><a href="#">ارتفاع ضغط الدم</a></li>
                    <li><a href="#">الأمراض المزمنة</a></li>
                    <li><a href="#">أمراض العيون</a></li>
                    <li><a href="#">أمراض القلب</a></li>
                    <li><a href="#">أمراض الأسنان</a></li>
                    <li><a href="#">حساسية</a></li>
                    <li><a href="#">أعشاب طبية</a></li>
                </ul>

                <h4>أطباء متميزون</h4>
                <ul>
                    <li><a href="#">د/ خالد زكي</a></li>
                    <li><a href="#">د/ أحمد مجدي</a></li>
                    <li><a href="#">د/ جمال طارق</a></li>
                    <li><a href="#">د/ علا محمد</a></li>
                    <li><a href="#">د/ خيرية مندور</a></li>
                    <li><a href="#">د/ إسعاد سعيد</a></li>
                    <li><a href="#">د/ جميلة فاروق</a></li>
                </ul>

                <h4>سياسات</h4>
                <ul>
                    <li><a href="#">سياسة نشر المقالات</a></li>
                    <li><a href="#">سياسة الأسئلة والأجوبة</a></li>
                    <li><a href="#">سياسة الخصوصية</a></li>
                    <li><a href="#">سياسة وحق المريض</a></li>
                </ul>

                <div class="text-center">
                    <button class="btn-custom">احجز الآن</button>
                </div>
            </div>


            <!-- Main content -->


            <div class="col-md-9">
                <div class="row">
                    <!-- Article Header -->
                    <div class="col-12 mb-2">
                        <div class=" article-grid">
                            <div>
                                <h2>التهاب الأذن الوسطى</h2>
                                <p>بقلم: د/ أحمد صلاح</p>
                                <p>تاريخ النشر: 7/9/2024</p>
                            </div>



                            <!-- Article Image -->
                            <div class="toto">
                                <img src="assets/article/ear-infection.jpeg" alt="Ear Infection" class="img-fluid">
                                <div class="toti">
                                    <p>انف واذن وحنجرة</p>
                                </div>
                            </div>


                            <p>
                            <h2>أبرز أعراض التهاب الأذن الوسطى:</h2>

                            <h4>صعوبة سماع الأصوات</h4>
                            ينتقل الصوت في الأذن الوسطى من خلال اهتزاز 3 عظيمات؛ تُعرف بالركاب، والمطرقة، والسندان،
                            وقد يُسبب التهاب الأذن الوسطى تجمعًا للسوائل في القناة السمعية، ممّا يؤدي إلى صعوبة في
                            انتقال الصوت عند المصاب.
                            فقدان السمع
                            غالبًا ما تكون صعوبة السمع عرضًا مؤقتًا لالتهاب الأذن الوسطى، ولكنّ بعض الحالات قد تصل
                            إلى فقدان السمع بشكل تامّ، لا سيّما إذا كانت التهاب الأذن الوسطى متكررًا، وارتبط بتلفٍ
                            في طبلة الأذن أو العظيمات الناقلة للصوت أو العصب السمعيّ.

                            وتشير دراسة منشورة عام 2016 في مجلة مراجعات الطبيعة لأساسيات الأمراض (بالإنجليزية:
                            Nature Reviews Disease Primers) إلى أنّ 30 شخصًا من كلّ 10,000 فرد يُصابون بفقدان السمع
                            إثر التعرّض لالتهاب الأذن الوسطى.
                            <br>
                            <h4>إفرازات الأذن</h4>
                            قد تظهر إفرازات صفراء أو خضراء بعد الإصابة بالتهاب الأذن الوسطى، وتُعدّ مؤشرًا على حدوث
                            ثقب في غشاء الطبلة. كما يشير القسم الطبيّ لجامعة بنسلفانيا الأمريكيّة إلى أنّ جميع حالات
                            التهاب الأذن الوسطى الحادّ تُسبب تجمعًا للسوائل خلف طبلة الأذن، وقد يستمّر هذا العرض إلى
                            أسابيع أو شهور بعد التعافي.

                            ويُشار إلى أن تكوّن القيح أو الصديد أحد علامات التهاب الأذن الوسطى الحادّ، وتعدّ هذه
                            الحالة خطيرة، إذ تُسهم في الإصابة بتسوس الاذن (بالإنجليزية: Mastoiditis)، أو التهاب
                            السحايا، أو خراج الدماغ، وذلك نتيجة انتشار العدوى.
                            <br>
                            <h4>طنين الأذن</h4>

                            تشير دراسة منشورة عام 2018 في مجلة العلوم البيولوجية والطبية (بالإنجليزية: Journal of
                            Biosciences and Medicines) إلى أنّ طنين الأذن يظهر لدى 43% من المصابين بالتهاب الأذن
                            الوسطى المزمن. كما يُسمع طنين الأذن من قبل المصاب وحده، ويحدثُ دون مرور أيّ أمواج أو
                            إشارات صوتيّة في الأذن، وقد يلاحظ في إحدى الأذنين أو كلتيهما.

                            الألم والحمىيحدث التهاب الأذن الوسطى تبعًا للعديد من الأسباب، ومنها العدوى البكتيريّة أو
                            الفيروسيّة، ويُعدّ الألم وارتفاع درجة الحرارة من أبرز الأعراض التي تظهر عند المصاب، لا
                            سيّما مع تعرّض غشاء الطبلة إلى التمزّق أو الانتفاخ


                            وقد تبدأ الحالة بعدوى فيروسيّة تُصيب قناة استاكيوس، وهي القناة المسؤولة عن نقل السوائل
                            والإفرازات الأذنية في الأذن الوسطى، وقد تمهد العدوى الفيروسيّة الظروف الملائمة لتكاثر
                            العدوى البكتيرية فيما بعد.
                            <br>


                            <h4>الدوار</h4>
                            نُشرت دراسة عام 2022 في مجلّة الأرشيف الأوروبي لطب الأنف والأذن والحنجرة (بالإنجليزية:
                            European Archives of Oto-Rhino-Laryngology)، وقد أُجريت على 447 فردًا مصابًا بالتهاب
                            الأذن الوسطى المزمن؛ وأوضحت نتائجها أنّ أكثر من 50% من الأفراد المشاركين قد تعرّضوا
                            للدوار واختلال التوازن.

                            كما أشارت الدراسة إلى زيادة في احتمالية الإصابة بالدوّار لدى الكبار الذين أُصيبوا في
                            طفولتهم بالتهاب الأذن الوسطى الحاد على نحو متكرر، وقد يُعزى سبب الدوار إلى ما يلي:

                            فقدان الخلايا الشعرية المرتبطة بالقوقعة، وتلعب هذا الخلايا دورًا في نقل الصوت وحفاظ
                            التوازن.
                            ناسور المتاهة الذي يؤثّر على القناة الهلالية الخلفية، ويعد الناسور فتحة غير طبيعيّة بين
                            موضعين في الجسم.
                            انتشار الوسائط الالتهابيّة والسموم التي تُسببها البكتيريا إلى مواضع أخرى في الأذن، مما
                            يُسبب تجمعًا للسوائل واختلالًا في التوازن.
                            وتجدر الإشارة إلى أنّ احتمالية الإصابة بالدوّار تزداد عند المصابين بالتهاب الأذن الوسطى
                            مع ازدياد تدهور السمع لديهم.
                            </p>
                        </div>
                    </div>

                    <!-- Articles Grid -->



                </div>


            </div>
        </div>
    </div>
</div>

<!-- stop main -->
 <app-footer></app-footer>
