.title {
  background-image: linear-gradient(90deg, #0093A1, #00363B);
}

form button {
  background-color: var(--button-color);
  color: white;
  font-weight: bold;
  border-radius: 15px;
}

input {
  border: 1px solid #eee;
}

button {
  position: absolute;
  left: 90px;
}

app-clinic {
  cursor: pointer;
}

.col {
  width: fit-content;
}
