<div class="title py-5 mb-5">
  <div class="container">
    <h1 class="text-light text-end">عياداتنا</h1>
  </div>
</div>

<div class="search container d-flex align-items-center justify-content-between my-5" dir="rtl">
  <h4 class="fw-bold">البحث عن القسم</h4>
  <form class="d-flex align-items-center">
    <input class="form-control-sm form-control border-2">
    <button class="btn ">بحث</button>
  </form>
</div>

<div class="container">
  <div class="page d-flex align-items-center justify-content-between my-4">
    <div class="row row-cols-3 g-5 align-items-center justify-content-evenly">
      <ng-container *ngFor="let clinic of clinics | paginate : {itemsPerPage: 6, currentPage:p, totalItems:totalItems}">
        <div class="col">
          <app-clinic [routerLink]="['/clinics', clinic._id]" [clinic]="clinic.name" [img]="clinic.picture"></app-clinic>
        </div>
      </ng-container>
    </div>
  </div>
  <pagination-controls (pageChange)="onPageChange($event)" class="d-flex align-items-center justify-content-center"></pagination-controls>
</div>
