<app-header></app-header>



    <!-- Body -->

    <div
      class="container-fluid d-flex justify-content-center align-items-center m-auto block1"
    >
      <div class="row">
        <div
          class="col-12 d-flex justify-content-center align-items-center overlay"
        >
          <div class="form-container p-4">
            <!-- Tab content -->
            <div class="tab-content mt-3" id="myTabContent">
              <ul class="nav nav-tabs d-flex justify-content-around">
                <li class="nav-item">
                  <a class="nav-link Ncol" data-bs-toggle="tab" href="#tab1"
                    >Log In</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active col"
                    data-bs-toggle="tab"
                    href="#tab2"
                    >Sign Up</a
                  >
                </li>
              </ul>

              <!-- SIGNUP -->
              <div id="login" class="tab-pane fade show active">
                <form>
                  <div class="form-group mt-2">
                    <label class="mb-2" for="username">Full Name</label>
                    <input
                      type="text"
                      class="form-control text-center"
                      id="username"
                      placeholder="FullName"
                      required
                    />
                  </div>

                  <div class="form-group mt-2">
                    <label class="mb-2" for="username"
                      >Email address or phone number</label
                    >
                    <input
                      type="password"
                      class="form-control text-center"
                      id="username"
                      placeholder="EmailName@gmail.com"
                      required
                    />
                  </div>

                  <div class="form-group mt-2">
                    <label class="mb-2" for="password">New Password</label>
                    <input
                      type="password"
                      class="form-control text-center"
                      id="password"
                      placeholder="New Password"
                      required
                    />
                  </div>

                  <div class="form-group mt-2">
                    <label class="mb-2" for="date">Date of birthday</label>
                    <div class="d-flex justify-content-between">
                      <input
                        type="text"
                        class="inpDate form-control text-center"
                        id="day"
                        placeholder="Day"
                        required
                      />
                      <input
                        type="text"
                        class="inpDate form-control text-center"
                        id="month"
                        placeholder="Month"
                        required
                      />
                      <input
                        type="text"
                        class="inpDate form-control text-center"
                        id="year"
                        placeholder="Year"
                        required
                      />
                    </div>
                  </div>

                  <div class="form-group mt-2 d-flex justify-content-center align-items-center text-center">
                    <p class="term col-12">
                      By clicking Sign Up, you agree to our
                      <a href="#">Terms</a>, <a href="#"> Privacy Policy</a> and
                      <a href="#">Cookies Policy</a>. you may receive SMS
                      notification from us and can opt out at any time.
                    </p>
                  </div>
                  <button
                    type="submit"
                    class="col-12 btn btn-primary mt-4 buSub"
                  >
                    Sign Up
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




<app-footer></app-footer>

