<app-header></app-header>
<div class="container">

    <div class="row" style="direction:rtl;">
        <div class="compo ,col-8>">

            <div class=" col mt-3 mb-3">
                <h2>مقالات طبية</h2>
            </div>
        </div>
        <div class="row filter mt-3 mb-4">

            <div class="col-2">
                <p> ترتيب القنوات حسب </p>
            </div>
            <div class="col-2">
                <select class="form-select" id="dropdown2">
                    <option selected="">تاريخ المقال </option>
                    <option value="1">الاحدث</option>
                    <option value="1">الاقدم </option>

                </select>
            </div>
            <div class="col-2">
                <select class="form-select" id="dropdown2">
                    <option selected="">التصنيفات </option>
                    <option value="1">النفسية</option>
                    <option value="1">الجلدية </option>
                    <option value="1">الاعشاب </option>
                    <option value="1">الاورام </option>

                </select>
            </div>

        </div>
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 sidebar">
                <h4>أقسام طبية</h4>
                <ul>
                    <li><a href="#">قسم التشريح وعلم الأجنة</a></li>
                    <li><a href="#">قسم الباثولوجيا</a></li>
                    <li><a href="#">قسم الفسيولوجيا</a></li>
                    <li><a href="#">قسم الكيمياء الحيوية</a></li>
                    <li><a href="#">قسم الباثولوجيا</a></li>
                    <li><a href="#">قسم الفارماكولوجيا</a></li>
                    <li><a href="#">قسم السمعيات الطبية</a></li>
                    <li><a href="#">قسم طب الأسنان</a></li>
                </ul>

                <h4>مواضيع شائعة</h4>
                <ul>
                    <li><a href="#">ارتفاع ضغط الدم</a></li>
                    <li><a href="#">الأمراض المزمنة</a></li>
                    <li><a href="#">أمراض العيون</a></li>
                    <li><a href="#">أمراض القلب</a></li>
                    <li><a href="#">أمراض الأسنان</a></li>
                    <li><a href="#">حساسية</a></li>
                    <li><a href="#">أعشاب طبية</a></li>
                </ul>

                <h4>أطباء متميزون</h4>
                <ul>
                    <li><a href="#">د/ خالد زكي</a></li>
                    <li><a href="#">د/ أحمد مجدي</a></li>
                    <li><a href="#">د/ جمال طارق</a></li>
                    <li><a href="#">د/ علا محمد</a></li>
                    <li><a href="#">د/ خيرية مندور</a></li>
                    <li><a href="#">د/ إسعاد سعيد</a></li>
                    <li><a href="#">د/ جميلة فاروق</a></li>
                </ul>

                <h4>سياسات</h4>
                <ul>
                    <li><a href="#">سياسة نشر المقالات</a></li>
                    <li><a href="#">سياسة الأسئلة والأجوبة</a></li>
                    <li><a href="#">سياسة الخصوصية</a></li>
                    <li><a href="#">سياسة وحق المريض</a></li>
                </ul>

                <div class="text-center">
                   <a href="book.html" style="text-decoration: none;"> <button class="btn-custom">احجز الآن</button></a>
                </div>
            </div>


            <!-- Main content -->


            <div class="col-md-9">
                <div class="row">
                    <!-- Article Header -->
                    <div class="col-12 mb-2">
                        <div class=" article-grid">
                            <div>
                                <h3>العلاقة بين التوتر وارتفاع ضغط الدم وطرق الحد منه</h3>
                                <p>بقلم: د/ محمد عطا الله</p>
                                <p>تاريخ النشر: 8/9/2024</p>
                            </div>



                            <!-- Article Image -->
                            <div class="toto">
                                <img src="../images/high pressure.jpg (1).webp" alt="pressure" class="img-fluid">

                            </div>
                            <p class="mt-4">
                            <h3>العلاقة ما بين التوتر وارتفاع ضغط الدم</h3>
                            يواجه الشخص العديد من الضغوطات والمشاكل اليومية والتي من المُمكن أن تزيد من حدّة التوتر
                            عنده، وعادةً ما تتفاوت قدرة الأشخاص على التعامل مع مثل هذه الضغوطات وإدارتها. ومن
                            المُمكن أن يُسبّب التعرّض المستمر للتوتر والقلق إلى التأثير على الصحة البدنية والعقلية
                            لدى الشخص.
                            يُعدّ ارتفاع ضغط الدم أحد أهم الحالات المرتبطة بالتوتر المزمن، إذا تشير دراسة أجريت
                            عام 2020 إلى أنّ الأشخاص الذين يعانون من التوتر الشديد لديهم خطر أعلى بنسبة 60%
                            للإصابة بارتفاع ضغط الدم مقارنةً بأولئك الذين يعانون من مستويات أقل من التوتر.

                            ووفقًا لجمعية القلب الأمريكية، فإنّ العلاقة ما بين التوتر وارتفاع ضغط الدم لا تزال
                            غير مفهومة بشكل تام، خصوصًا عندما يتعلق الأمر بالتوتر المزمن والإصابة بمرض ارتفاع
                            ضغط الدم.

                            لكن، يُمكن أن تُفسّر هذه العلاقة كما يلي:

                            <h6>هرمونات التوتر ترفع الضغط</h6>
                            عند الشعور بالتوتر والقلق الحاد، سيتم إفراز عدد من الهرمونات في الجسم، أهمها هرمون
                            الأدرينالين وهرمون الكورتيزول، حيث تعمل هذه الهرمونات على تحفيز استجابة القتال أو
                            الهروب (بالإنجليزية: Fight-or-Flight Response) لدى الشخص، والتي تتسبّب بالعديد من
                            التأثيرات في الجهاز القلبي الوعائي، أهمها تسارع ضربات القلب وانقباض الأوعية الدموية،
                            الأمر الذي يؤدي إلى ارتفاع ضغط الدم في الجسم.

                            ومع ذلك، غالبًا ما يكون ارتفاع ضغط الدم المرتبط بالتوتر مؤقتًا ويزول بزوال العامل
                            المُسبّب للتوتر، ومن المُمكن أن يستغرق عودة مستويات ضغط الدم إلى طبيعتها مدة تتراوح
                            من أيام إلى بضعة أسابيع.

                            لكن يجب الانتباه إلى أنّ عدم التعامل الصحيح مع حالات التوتر الحادة والتخفيف من
                            شدّتها .
                            لتوتر يزيد من اتباع العادات غير الصحية
                            يُمكن أن تعود العلاقة ما بين التوتر وارتفاع ضغط الدم أيضًا إلى تسبّب التوتر والإجهاد
                            المستمر باتباع الشخص العديد من العادات غير الصحية بهدف التكيّف مع هذا التوتر والتقليل من
                            حدّته. ولسوء الحظ، فإنّ العديد من هذه العادات السيئة يُمكن أن ترتبط بزيادة خطر الإصابة
                            بارتفاع ضغط الدم.

                            <h6>وتشمل هذه العادات غير الصحية ما يلي:</h6>
                            <ul style="list-style: none;">
                            <li>التدخين</li>
                            <li>اتباع نظام غذائي سيئ، بما في ذلك تناول الأطعمة الغنية بالصوديوم.</li>
                            <li>قلة ممارسة الرياضة.</li>
                            <li>الإفراط في تناول الكحول.</li>
                            </ul>
                            كما يُمكن أن يؤثر التوتر والقلق على جودة النوم لدى الشخص ويجعله يُعاني من صعوبة النوم،
                            ممّا قد يؤثر على ضغط الدم أيضًا

                            </p>


                        </div>
                    </div>

                    <!-- Articles Grid -->



                </div>


            </div>
        </div>
    </div>
</div>

<!-- stop main -->
 <app-footer></app-footer>
